.login-container {
  position: fixed;
  right: 15%;
  bottom: 15%;
  top: 47%;
  width: 25%;
  background-color: rgba(255,255,255,.85);
  box-shadow: 1px 8px 20px #ccc;
}

.login-container > header {
  display: flex;
}

.login-container > header button {
  width: 50%;
  text-align: center;
  padding: 2%;
  background-color: #00aff0;
  color: #AFE9FF;
  font-weight: 900;
  border: none;
  border-radius: 0;
  outline: none;
}

.login-container > header button.tab-fade {
  background-color: #AFE9FF;
  color: #00aff0;
  border: 1px solid #f4f5f5;
}

.login-container > form {
  border-top: 2px solid #00aff0;
  padding: 12% 10%;
}

.login-container > form > div {
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
}

.login-container > form > div:last-child {
  justify-content: flex-end;
}