/* *************************************************
RESULTS
**************************************************** */

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

.results-container div {
  position: relative;
  margin: 1%;
  width: 230px;
  height: 230px;
}

.results-container a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.results-container input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}