/* *************************************************
RESULTS
**************************************************** */
#root > p {
  margin: 0;
  padding: 2% 6%;
  background-color: #fff;
  font-size: 2rem;
  text-align: center;
}

.results-container, .results-container-loading {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 100vh;
  padding: 0 5% 5%;
  background: #fff;
}

.loader {
  height: 70vh;
}

.loader, .results-container-loading {
  background: #fff url('../../loading.gif') no-repeat top;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #fff;
  font-size: 3rem;
}

.results-container div {
  position: relative;
  margin: 1%;
  width: 20vw;
  height: 20vw;
  box-shadow: 4px 6px 20px #aaa;
  border: 2px solid #f4f5f5;
}

.results-container a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms;
}

.results-container a:hover {
  background-color: rgba(255,255,255, 0.5);
  transition: all 200ms;
}

.results-container label {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.results-container i {
  font-size: 1.5rem;
}


@media only screen and (max-width: 1024px) {
  .results-container div {
    width: 28vw;
    height: 28vw;
  }
}

@media only screen and (max-width: 667px) {
  .results-container div {
    width: 86vw;
    height: 86vw;
  }
}