.object-detail {
  display: flex;
  min-height: 100vh;
  padding: 5%;
  background: #fff;
}

.object-detail h3 {
  margin: 0;
}

.object-detail img {
  width: 100%;
}

.object-detail > section:first-of-type {
  width: 25%;
}

.object-detail > section:last-of-type {
  width: 75%;
}

.object-detail > section:last-of-type > p {
  padding: 0 4%;
}

.object-detail > section:last-of-type > div {
  display: flex;
}

.object-detail > section:last-of-type > div > div:first-child {
  width: 70%;
  padding: 0 4%;
}

.object-detail > section:last-of-type > div > div:first-child ul {
  padding: 2% 0;
}

.object-detail > section:last-of-type > div > div:first-child li {
  padding: .5% 3%;
}

.object-detail > section:last-of-type > div > div:first-child li:first-of-type {
  padding: .5% 0;
  font-weight: 700;
}

.object-detail > section:last-of-type > div > div:last-child {
  width: 30%;
}

.object-detail > section:last-of-type > div > div:last-child ul {
  padding: 6% 10%;
  background-color: #f4f5f5;
}

.object-detail > section:last-of-type > div > div:last-child li {
  clear: both;
  padding: 2% 0;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;

}

.object-detail > section:last-of-type > div > div:last-child li:first-of-type {
  text-decoration: none;
  cursor: default;
  font-weight: 900;
}

.object-detail label {
  float: right;
  padding: 2% 10%;
}

.object-detail i {
  font-size: 3rem;
}