.object-detail {
  display: flex;
  width: 90%;
  margin: 5% auto;
}

.object-detail img {
  width: 100%;
}

.object-detail > section:first-of-type {
  width: 30%;
}

.object-detail > section:last-of-type {
  width: 70%;
}

.object-detail > section:last-of-type > div {
  display: flex;
}

.object-detail > section:last-of-type > div > div:first-child {
  width: 75%;
}

.object-detail > section:last-of-type > div > div:last-child {
  width: 25%;
}

.object-detail input[type="checkbox"] {
  float: right;
}