/* *************************************************
MAIN
**************************************************** */

* {
  box-sizing: border-box;
  color: #212121;
  font-family: 'Assistant', sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input[type="submit"], select {
  background: #fff;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h1 {
  margin: 0;
  font-size: 5.5rem;
}

h2 {
  margin: 0;
  font-size: 2.75rem;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background: url('./museum-logo.png') no-repeat left;
  background-size: contain;
  z-index: -1;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

input[type="checkbox"],
.checked {
    display: none;
}

.unchecked {
  color: rgba(125, 125, 125, .7);
  transition: all 200ms;
}

.checked {
  color: rgba(255, 0, 0, .6);
  transition: all 200ms;
}

.unchecked:hover, .checked:hover {
  color: rgba(255, 0, 0, .9);
  transition: all 200ms;
}

input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}
 
input[type="checkbox"]:checked ~ .unchecked {
    display: none;
}


/* *************************************************
MAIN HEADER
**************************************************** */

#root > header {
  display: flex;
  flex-wrap: wrap;
}

#root > header > div:first-child {
  width: 70%;
  padding: 0 1%;
}

#root > header > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 30%;
  padding: 2%;
  background: url('./museum-logo.png') no-repeat right;
  background-size: contain;
}

#root > header > div:nth-child(2) button {
  margin-left: 5%;
}

#root > header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1% 5%;
  background-color: #f4f5f5;
}

#root > header nav > * {
  width: 25%;
}

#root > header form {
  display: flex;
  justify-content: space-between;
}

#root > header form > input[type="text"] {
  width: 70%;
  padding: 1%;
}

#root > header form > input[type="submit"] {
  width: 25%;
}

@media only screen and (max-width: 1024px) {
  #root > header nav > * {
    width: 33%;
  }

  #root > header > div:first-child {
    width: 100%;
  }
  
  #root > header > div:nth-child(2) {
    width: 100%;
    order: -1
  }
}

@media only screen and (max-width: 667px) {
  h1 {
    font-size: 5rem
  }

  #root > header nav {
    flex-direction: column;
  }

  #root > header nav > * {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 4rem
  }

  h2 {
    font-size: 2rem
  }
}
